{% extends 'photoapp/base.html' %}

{% block title %} Instaclone {% endblock %}





{% block content %}
<style>
    .content {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style> 

<div class="container">
    <div class="content">
        <div class="feeds">
            <h3>Feeds Page</h3>
        
            {% for post in posts %}
            <div class="card" style="width: 480px; height: 750px; margin-bottom: 15px; border-radius: 10px;">
                <!-- <div class="card-header">
                    <a href="#"><h5> 
                        <img class="img-circle" src="{{image.profile_photo.url}}" width="50px" height="50px" alt="">
                        {{post.user}}
                    </h5></a>
                    
                </div>  -->
                <div class="card-body">
                    <div class="user">
                        <a href="#"><h5> 
                            <img class="img-circle" src="{{image.profile_photo.url}}" width="50px" height="50px" alt="">
                            {{post.user}}
                        </h5></a>
                    </div>
                    <img src="{{post.image.url}}" width="480p" height="400px" alt="image" style="position: relative; left: -16px;">
                    <div class="icons">
                        <a href="#"><i class="fa-solid fa-heart" style="font-size: 20px;"></i></a>
                        <a href="#"><i class="fa-solid fa-comment" style="font-size: 20px;"></i></a> 
                        <a href="#"><i class="fa-solid fa-share" style="font-size: 20px;"></i></a> 
                    </div>
                    <p>100 likes</p>
                    <p>{{post.image_caption}}</p>
                    {% if not image_id.image_comments.all %}
                    <p>No comments yet... <a href="#">Add one</a> </p>
                    {% else %}
                        {% for comment in image_id.image_comments.all %}
                            {{comment.name_id}} - {{comment.posted_on}}
                            <br>
                            {{comment.body}} 
                        {% endfor %} 
                    {% endif %}


                    <!-- <p class="text-muted">View all 100 comments</p> -->
                    <small class="text-muted">{{post.posted|timesince}} AGO</small> 
                    
                </div>
            </div>
            {% endfor %} 
        </div>


        <div class="suggestions">
            <h3>Suggestions for you</h3>
            
            </div>
    </div>
</div>
{% endblock %} 