{% extends 'photoapp/base.html' %}
{% load static %}  

{% block title %} Profile {% endblock %}



{% block content %}
<div class="container mt-5">
    {% if profile %}
        {% for user in profile %}
        <div class="row">
            <div class="col-md-4">
                <img class="img-circle" src="{{user.profile_photo.url}}" width="200px" height="200px" alt="">
            </div>
            
            <div class="col-md-8">
                <h3><strong>{{user.user}}</strong></h3>
                <h5><strong>{{images|length}}</strong> Post{{images|pluralize}} <strong style="margin-left: 50px;">{{followers}}</strong> followers<strong style="margin-left: 50px;">{{following}}</strong> following</h5>
                <h5 class="mt-4 mb-3">{{user.bio}}</h5>

                {% if user.user.id == user.id %}
                    <a href="{% url 'new-post' %}">New Post</a>
                    <a href="{% url 'update-profile' %}">Update Profile</a>
                {% else %}
                    {% if is_follow %}
                        <a href="#">Unfollow</a>
                    {% else %}
                        <a href="#">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}


        {% else %}
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="">
                </div>
                <div class="col-md-8">
                    <h3><strong>{{user}}</strong></h3>
                    <h5><strong>0</strong>Post<strong>0</strong>Followers<strong>0</strong>Following</h5>
                    <h5>Bio: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum excepturi porro atque assumenda numquam, animi enim aspernatur vel cum at?</h5> 
                        <a href="{% url 'new-post' %}">New Post</a>
                        <a href="{% url 'update-profile' %}">Update Profile</a>
                </div>
            </div> 
        {% endif %}

    
    <div class="row mt-5">
        {% if images %}
            {% for image in images %}
            <div class="col-md-4">
                <div>
                    <a href="#">
                        <img src="{{ image.image.url }}" width="200px" height="200px" alt="">
                    </a>
                    <p>{{image.image_caption}}</p>
                    <small class="text-muted">{{image.posted|timesince}} AGO</small> 
                    
                </div>
            </div>
            {% endfor %}

            {% else %}
                {% if user.user.id == user.id %}
                    <p>You have no posts. Create your first post <a href="{% url 'new-post' %}">here</a></p>
                    {% else %}
                        <p>This user does not have any post</p>
                {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}